.todos__productos{
    width: 75%;
    margin: 64px 12.5%;
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.todos__productos__titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todos__productos__titulo__texto{
    font-family: var(--fuente-b);
    font-weight: 500;
}
.todos__productos__add{
    font-family: var(--fuente-b);
    font-weight: 600;
    text-decoration: none;
    color: var(--blanco);
    padding: 6px 14px;
    border-radius: 4px;
    background-color: var(--azul-logo);
}
.productos__cartas__tp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.editar__borrar{
    color: var(--gris-texto-f);
    position: absolute;
    display: flex;
    justify-content: space-around;
    right: 0px;
    width: 100%;
}
.alerta{
    transition: all 200ms;
}
.alerta:hover{
    transform: scale(1.2);
    cursor: pointer;
    color: red;
}
.no__link{
    text-decoration: none;
    color: var(--gris-texto-f);
    transition: all 200ms;
}
.no__link:hover{
    color: var(--azul-logo);
    transform: scale(1.2);
}
.editar__borrar__hidde{
    display: none;
}
 

@media screen and (max-width:768px){
   .productos__cartas__tp{
    gap: 38px;
   }
}
@media screen and (max-width:425px) {

    .productos__cartas__tp{
        gap: 24px;
    }
}